.App {
  text-align: center;
  background-image: url("/landing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width:auto;
  height: 700px;


}

/* NAV */
nav{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
