.App {
  text-align: center;
  background-image: url("/landing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width:auto;
  height: 700px;


}

/* NAV */
nav{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #64ba9e;
}

nav a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}

nav :hover{
  color: #ecb751;
}

h1{
  color:white;
  outline: black;

}
